// Normally title styles
.title
	&__main
		font-size: 43px
		line-height: 1.5
		margin: 10px 0 0px
	&__subtitle
		text-align: center
	&__section
		font-size: 37px
		line-height: 1.5
		margin: 5px 0 10px
		text-indent: -1em
		+r(700)
			text-indent: -.4em
	&__small
		font-size: 21px
		line-height: 1.5
		margin: 5px 0 10px
		+r(520)
			text-indent: -30px