// Normally title styles
.title
	&__main
		font-size: 43px
		line-height: 1.5
		text-align: center
		margin: 10px 0 20px
		sup
			color: red
			margin-left: 20px
			font-size: 0.4em
	&__section
		font-size: 37px
		line-height: 1.5
		margin: 5px 0 10px
		text-indent: -1em
	&__small
		font-size: 21px
		line-height: 1.5
		margin: 5px 0 10px
