.career#career
	h2.title__section Карьера
	.career__place
		h3.title__small Kick-ass Labs
			sup   (декабрь 2015г - январь 2017)
		p front-end developer
	.career__place
		h3.title__small Фрилансер
			sup   (январь 2014г - март 2016)
		p front-end developer