.career#career
	h2.title__section Карьера
	.career__place
		h3.title__small юТека
			sup   (февраль 2017 )
		p front-end developer
	.career__place
		h3.title__small Kick-ass Labs
			sup   (декабрь 2015 - январь 2017)
		p front-end developer
	.career__place
		h3.title__small Фрилансер
			sup   (январь 2014 - март 2016)
		p HTML-developer