.contact#contact
	h2.title__section.
		Контакты
	.contact__wrap
		a.contact__link( href="mailto:veremey4uk@gmail.com")
			i.icon-email
			span veremey4uk@gmail.com

		a.contact__link(href="tel:+38097-15-15-097")
			i.icon-phone
			span +38097-15-15-097

		a.contact__link(href="tel:baxazar")
			i.icon-skype
			span baxazar
		a.contact__link(href="https://github.com/veremey")
			i.icon-github
			span Veremey

		a.contact__link(href="https://twitter.com/_baxazar")
			i.icon-twitter
			span _baxazar