.info#info
	img.info__img(src="img/photo.jpg", alt="profile photo")
	.info__text
		p Украина
		p Женат
		p Не готов к переезду, возможны командировки к заказчику
	.info__text
		h3.title__small Языки:
		p
			| Украинский, Русский (родные)
			br
			| Английский (Intermediate)
	.info__text
		p
			|Финалист Всеукраиского конкурса по разработке
			a(href="http://uawebchallenge.com/")  UaWebChallenge Vll, Vlll
			|, категория front-end