.knowledge#knowledge
	h2.title__section
		| Знания
	p
		|Владею современными подходами к верстке: верстка под мобильные устройства, ретину, адаптивная верстка, SVG, canvas, паралакс, анимация и многое другое.
	p Наибольший сделаный проект на 80+ страниц.
		br
		br
	p Создаю качественную верстку любой сложности используя:

	ul.knowledge__list
		li.knowledge__item
			h3.title__small Разметка
		li.knowledge__item HTML5
		li.knowledge__item Jade/Pug
		li.knowledge__item bem_

	ul.knowledge__list
		li.knowledge__item
			h3.title__small Стили
		li.knowledge__item CSS3
		li.knowledge__item SASS
		li.knowledge__item SCSS

	ul.knowledge__list
		li.knowledge__item
			h3.title__small Программирование
		li.knowledge__item JS
		li.knowledge__item jQuery

	ul.knowledge__list
		li.knowledge__item
			h3.title__small Дополнительно
		li.knowledge__item Gulp
		li.knowledge__item Git
		li.knowledge__item GSAP
		li.knowledge__item Photoshop
		li.knowledge__item Illustrator
		li.knowledge__item web-animation