.portfolio#portfolio
	h2.title__section Лучшие работы
	ul.portfolio__list
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://seikoastron.style.rbc.ru/article/seiko-tehnika-mirovogo-vremeni/") http://seikoastron.style.rbc.ru/article/seiko-tehnika-mirovogo-vremeni/
			ul.portfolio__sublist
				li.portfolio__subitem страница на столько легкая, что загружается в 3,5 раза быстрее
					br
					|оффициального сайта компании
					a(href="http://www.seiko-astron.com/")   Seiko-astron
				li.portfolio__subitem использованы анимационные эффекты
				li.portfolio__subitem паралакс
				li.portfolio__subitem нестандартные, скошеные блоки
				li.portfolio__subitem мобильная версия подключается отдельно
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://kommersant.ru/projects/bolshoi") http://kommersant.ru/projects/bolshoi
			ul.portfolio__sublist
				li.portfolio__subitem интресные анимационные эффекты
				li.portfolio__subitem паралакс написан без использования сторонних библиотек и плагинов
				li.portfolio__subitem поддержка всех девайсов Apple - iPhone 5,5s,6,6s, iPad pro, iPad Air 2,3 и не только
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://pathfinder.autonews.ru") http://pathfinder.autonews.ru
			ul.portfolio__sublist
				li.portfolio__subitem Захватывающие анимации при прокрутке страницы
				<br>
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://thomsonreuters.rbc.ru") http://thomsonreuters.rbc.ru
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://finam.rbc.ru/ ") http://finam.rbc.ru
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://alfabank.rbc.ru/ ") http://alfabank.rbc.ru
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://pathfinder.autonews.ru/") http://pathfinder.autonews.ru
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://100years.style.rbc.ru/ ") http://100years.style.rbc.ru
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://aboutscotland.style.rbc.ru") http://aboutscotland.style.rbc.ru
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://brooksbrothers.style.rbc.ru/") http://brooksbrothers.style.rbc.ru
		li.portfolio__item
			a.portfolio__link(target="_blank" href="http://maup.com.ua/") http://maup.com.ua